.logo-title {
    line-height:55px;
    color:#fff;
    position: absolute;
    padding-left:5px;
}

.logo {
	margin-top: 0px;
    margin-bottom: 0px;
}

.layout-header .logo .links {
    text-decoration:none;
}
.layout-header {
    background:#202123;
}
.layout-header .nav .list .links {
    color:#fff;
}
.xiezuo-header {
    max-height:calc(100vh - 30px);
    overflow-y:auto;
    min-height:200px;
}

.head-logo {
    height:auto;
    padding-top: 6px;
}
#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}

/* The Modal (background) */
.modal_box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*background-color: #57596c;*/
    margin: auto;
    padding: 10px;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
    max-width: 850px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* The Close Button */
.close_box {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 5;
    bottom: 20;
}

.close_box:hover,
.close_box:focus {
    color: #4c4c4c;
    text-decoration: none;
    cursor: pointer;
}

.example_line {
    background-color: #40414f;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    color:#d5d5d5d1;
    font-size:15px;
    font-weight: bold;
    width: fit-content;
}
.example_line:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 0 white;
}
.icon:hover,
#copy_data:hover,
#re_question:hover {
    cursor:pointer;
    background-color:#00000078;
    border-radius:var(--zhuluan-primary-border-radius);
    transition:all .5s
}

#start-button {
    position:relative;
    right:5px;
}

#clean {
    display: inline-block;width: 30px;border-radius: 50%;position: fixed;bottom: 32%;right: 7.8%;
}
#example_btn {
    display: inline-block;width: 30px;border-radius: 50%;position: fixed;bottom: 24%;right: 7.8%;
}
#go2topd {
    display: inline-block;width: 30px;border-radius: 50%;position: fixed;bottom: 20%;right: 7.8%;
}
#go2downd {
    display: inline-block;width: 30px;border-radius: 50%;position: fixed;bottom: 16%;right: 7.8%;
}

#title-box {
	border:var(--zhuluan-primary-border-radius);
	border-radius:var(--zhuluan-primary-border-radius);
	background-color:#40414F;
}
#article-wrapper {
    min-height:calc(120vh - 550px);
	border-radius:var(--zhuluan-primary-border-radius);
	background-color:#40414F;
    margin-bottom:0px;
}
#kw-target-box {
	border:0px solid #40414f;
    border-radius:var(--zhuluan-primary-border-radius);
    -webkit-border-radius:var(--zhuluan-primary-border-radius);
    -moz-border-radius:var(--zhuluan-primary-border-radius);
    -ms-border-radius:var(--zhuluan-primary-border-radius);
    -o-border-radius:var(--zhuluan-primary-border-radius);
	height:20px;
}

.article-box {
    min-height:calc(102vh - 68px) !important;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
#fixed-blocks {
    position:sticky;
    bottom:0;
    background-color:#343541;
}
#fixed-block {
    background-color:#40414F;
	border-radius:var(--zhuluan-primary-border-radius);
    position: relative;
    bottom: 15;
}
#popup {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    background-color:#fff;
    padding:20px;
    border:1px solid var(--zhuluan-border-color);
    width:70%;
    border-radius:var(--zhuluan-primary-border-radius);
    -webkit-border-radius:var(--zhuluan-primary-border-radius);
    -moz-border-radius:var(--zhuluan-primary-border-radius);
    -ms-border-radius:var(--zhuluan-primary-border-radius);
    -o-border-radius:var(--zhuluan-primary-border-radius);
}
#popup-close {
    font-size:24px;
    color:#666;
    float:right;
    cursor:pointer;
}
.popup-header {
    height:30px;
}
.pop-title {
    font-size:24px;
}
.popup-content {
    margin-top:20px;
}
.image-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.image-wrapper img {
    width:40%;
}
.popup-footer {
    margin-top:10px;
    text-align:center;
}
#count-down {
    font-size:20px;
    color:red;
}
#sure-pay {
    margin-top:10px;
    display:block;
    width:120px;
    height:40px;
    line-height:40px;
    border:1px solid var(--zhuluan-border-color);
    border-radius:var(--zhuluan-primary-border-radius);
    background-color:#0188fb;
    color:#fff;
    -webkit-border-radius:var(--zhuluan-primary-border-radius);
    -moz-border-radius:var(--zhuluan-primary-border-radius);
    -ms-border-radius:var(--zhuluan-primary-border-radius);
    -o-border-radius:var(--zhuluan-primary-border-radius);
    margin-left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    cursor:pointer;
}
li.article-title {
    background:#343541;
    padding:10px;
    color:#d5d5d5;
    font-size:15px;
    font-weight: bold;
	border-radius:15px;
    margin:5
}
li.article-content {
    background:#898ba5;
    padding:10px;
    color:#00000085;
    font-size:15px;
    font-weight: bold;
	border-radius:15px;
    margin:5
}

.answer,
.question { 
    margin:10
}

.article .creating-loading {
    display:none;
    position:absolute;
    z-index:10008;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(52, 53, 65, .68);
    width:100%;
    height:100%;
}
.layout-content {
    padding:0 !important;
	max-width:1024px;
	margin:0 auto;
}
@media screen and (max-width:768px) {
    #popup {
        height:350px;
    }
    .image-wrapper img {
        width:92px;
        height:139px;
    }
}
pre {
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre-wrap;
}
input {
    display:none;
}
label {
    display:block;
    width:40px;
    height:20px;
    border-radius:20px;
    background:rgb(164, 165, 179);
    border:1px solid #A4A5B3;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
label::before {
    display:block;
    content:'';
    width:16px;
    height:16px;
    border-radius:50%;
    background:white;
    position:absolute;
    left:1px;
    top:50%;
    transform:translateY(-50%);
    transition:all .3s;
}
label::after {
    display:block;
    content:'';
    width:0;
    height:100%;
    background:#202123;
    transition:all .3s;
    border-radius:10px;
}
input:checked + label::before {
    left:20px;
}
input:checked + label::after {
    width:100%;
}